@import "~quill/dist/quill.core.css";
@import "~quill/dist/quill.snow.css";
* {
  // margin: 0;
  padding: 0;
}

body {
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: normal;
  line-height: 1.4em;
  background: #db7908;
  color: #bfbbc0;
  min-width: 230px;
  max-width: 550px;
  margin: 0 auto;
  font-weight: 300;
}

h1 {
  text-align: center;
  opacity: 0.6;
  color: rgba(121, 10, 136, 0.664);
  font-size: 100px;
  font-weight: 400;
}

.info {
  margin: 65px auto 0;
  color: #e9e3e3;
  font-size: 15px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-align: center;
}
